<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value="localhost" />
		<add key="port" value="3306" />
		<add key="database" value="dbname" />
		<add key="user" value="user" />
		<add key="password" value="password" />
		
		<add key="forecast_days" value="10" />
		<add key="latitude" value="0" />
		<add key="longitude" value="0" />
	</appSettings>
</configuration>